body
{
 background-color: wheat;
}

.pro
{
    background-color: #f7eee5;
    width: 600px;
    height: 350px;
    margin-top: 180px;
    margin-left: 500px;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}

.submit 
{
    margin-top: 30px;
    width: 100px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(53, 134, 240);
    transition: 0.8s;
}

.submit:hover
{
 background-color: rgb(22, 238, 58);
 border-width: thick;
}

.pro h2
{
    font-size: 40px; 
    color: rgb(7, 67, 134);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.l1
{
 text-align: center;
 font-size: 25px;
 font-weight: bold;
 color: rgb(17, 17, 17);
 /* padding-bottom: 60px; */
}

.input
{
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

.form
{
    padding-top: 50px;
}

.pro:hover
{
    background-color: rgb(100, 240, 226);
    border-radius: 20px;
}